//remove the .example file extension from this file and include all of the necessary information.

export const cloudinaryKeys = {
    cloudName: "your cloud name here",
    upload_preset: "your cloudinary upload preset here"
}