.h1, h1 {
    font-size: 2.5rem;
}

fieldset {
    min-width: 0;
    padding: 1rem 0;
    margin: 0;
    border: 0;
}

.form--login {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}

.form--login > fieldset > input[type="email"],
.form--login > fieldset > input[type="password"] {
    width: 25em;
}

.label--login {
    width: 8rem;
    display: inline-block;
}

.form-control {
    display: block;
    width: 94%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.container--login {
    text-align: center;
}

.form--login {
    background-position-x: right;
    z-index: 1;
    min-height: 25rem;
    min-width: 45rem;
    background-color: hsla(0,0%,100%,0.40);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
}

.button--close {
    position: relative;
    bottom: -2rem;
}

.dialog {
    min-width: 15rem;
    min-height: 5rem;
}

.modal--parent {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.521);
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal--content {
    border: 1px solid black;
    width: 80%;
    max-width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 1em;
    box-shadow: 0px 0px 10px 0px black;
    background-color: hsla(0,0%,100%);
    transform: translate(-50%, -50%);
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.editMemberFormButtons {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.deleteButton {
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
    margin: 10px 10px 10px 0;
    padding: 5px 15px;
    max-height: 30px;
}

.editMemberfieldset {
    padding: 0 0 5px 0;
}