.personCard {
    margin: 0px 5px;
    color: rgb(25,160,251);
}

.personCard:hover {
    cursor: pointer;
}

.memberCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.memberCard:hover {
    cursor: pointer;
}