.navBarCustom {
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
}

.navLogo {
    justify-self: center;
    width: 100%;
}

.nav-link {
    align-self: center;
    margin-left: 5px;
    width: 10%;
}

.siteTitle {
    color: black;
    margin: 5px;
}

.btn {
    background-color: rgb(25,160,251);
    border: none;
    border-radius: 5px;
    color: white;
    margin: 10px 10px 10px 0;
    padding: 5px 15px;
    max-height: 30px;
}

.logoutButton {
    background-color: white;
    color: rgb(25,160,251);
    border: solid 1px rgb(25,160,251);
}

.userNavTools {
    display: flex;
    align-items: center;
}

.navBarUserName {
    color: rgb(25,160,251);
    margin: 0 10px 0 0;   
}