.navBarCustom {
    display: flex;
    justify-content: space-between;
    background-color: rgb(2,61,110);
}

.newMemberButton {
    margin: 10px 10px 10px 0;
    padding: 5px 5px 5px 5px;
}

.navLogo {
    justify-self: center;
    width: 100%;
}

.nav-link {
    align-self: center;
    margin-left: 5px;
    width: 10%;
}

.siteTitle {
    color: whitesmoke;
    margin: 5px;
}